
@{
    ViewBag.Title = "Index";
}

<h2>User Management</h2>

<h1>
    Login... <br />
    @Html.ActionLink("City", "Index", "City") <br />
    @*------------------------------------------- <br />
    <a href="http://localhost:52527/">Lookups</a> <br />
    <a href="http://localhost:52459/">Operations</a> <br />
    <a href="http://localhost:52603/">Pharmacy</a> <br />*@
</h1>