
@{
    ViewBag.Title = "Lookups";
}

<h2>Lookups</h2>

@Html.ActionLink("City", "Index", "City") <br />
@Html.ActionLink("Medicine", "Index", "Medicine") <br />
@Html.ActionLink("Operation Type", "Index", "OperationType") <br />
