
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        There is a table into the database called 'Emp' <br />
        and there is another table into the database called 'EmpChangesTime' to trace the changes on the 'Emp' table <br />
        that happens from this application, and the mvc action who make that change. <br />
        There are two actions here (1, 2), if you make the change from any of them, we will know. <br />

        @Html.ActionLink("Action1", "Action1")
        @Html.ActionLink("Action2", "Action2") <br />
        @Html.ActionLink("Show Changes List", "ChangesList")
    </div>
</body>
</html>
